<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adriana.babycare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mamita"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity
            android:name=".PopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Rango" />
        <activity android:name=".Registro_Menor" />
        <activity android:name=".Registro_Usuario" />
        <activity android:name=".InicioSesion" />
        <activity
            android:name=".PopUpRegistroUsuario"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".PopUpRegistroPaciente"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".PopUpResultado"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>
    </application>

</manifest>